/********************************************************************************************* 

x. Smaller than 1680px

*********************************************************************************************/
@media only screen and (max-width: 1680px) {
	html, body {
		font-size: 26px;	
	}
	.container {
		padding-left: 40px;	
		padding-right: 40px;	
	}
	.item .work-thumb:after {
		width: 200px;	
		height: 200px;	
		-webkit-background-size: 200px 200px;
		background-size: 200px 200px;
	}
	.block {
		padding: 70px;	
	}
}

/********************************************************************************************* 

x. Smaller than 1441px

*********************************************************************************************/
@media only screen and (max-width: 1441px) {
	html, body {
		font-size: 24px;	
	}
	.work .item {
		padding: 50px;	
	}
	.block {
		padding: 50px;	
	}
}

/********************************************************************************************* 

x. Smaller than 1200px

*********************************************************************************************/
@media only screen and (max-width: 1200px) {
	html, body {
		font-size: 20px;	
	}
	.mix {
		padding: 30px;	
	}
	.work .item {
		padding: 30px;	
	}
	footer {
		font-size: 15px;	
	}
	a.title {
		svg {
			width: auto !important;	
			height: 120px !important;	
		}
	}
	.post {
		padding: 30px;	
	}
	.left-image {
		padding-left: 30px;	
	}
	.intro .image.top-image {
		width: 400px;
		left: 45%;		
	}
}

/********************************************************************************************* 

x. Smaller than 990px

*********************************************************************************************/
@media only screen and (max-width: 990px) {
	#header-inner {
		padding: 50px;	
	}
	#nav {
		top: 10px;
		right: 20px;	
	}
	#toggle {
		top: 54px;	
		right: 50px;	
	}
	body.open #toggle, body.top-page #toggle {
		right: 10px;	
	}
	.home #header-spacer {
		height: 200px;	
	}
	#header-spacer {
		height: 200px;	
	}
	.work .item.right-image p {
		padding: 0;	
	}
	.stuck #stickit {
		top: 49px;	
	}
	ul#filters li, ul#page-nav li {
		padding: 0;	
	}
	.text-image .left-text {
		padding: 30px;	
	}
	.text-image .right-image {
		padding: 0 30px;	
	}
	section {
		padding-top: 50px;	
	}
	.mix-container {
		padding: 0;	
	}
	.mix {
		padding: 20px;	
	}
	.corner {
		width: 150px;	
		height: 150px;	
	}
	.play {
		svg {
			width: 40px;
			bottom: 20px;	
			left: 20px;		
		}
	}
	.post {
		p {
			font-size: .9em;	
		}
	}
	#info {
		.width-40 {
			width: 100%;	
		}
	}
	#info .content {
		width: 100%;	
		padding-left: 30px;	
		padding-right: 30px;	
		float: none !important;	
		margin-left: auto;	
		margin-right: auto;	
	}
	.main-img {
		margin-top: 30px;	
		width: 100% !important;	
	}
	h1#page-title {
		margin-bottom: 50px;	
	}
	.stuck ul#filters li.active a, .stuck ul#page-nav li.active a {
		background-position: 0 50px;
	}
	.stuck ul#filters li a:hover, .stuck ul#page-nav li a:hover {
		background-position: 0 45px;
	}
	section#about {
		padding: 0;	
	}
	#awards, #press {
		padding-top: 30px;	
	}
	.intro {
		padding: 20px;	
	}
	ul#filters li a, ul#page-nav li a {
		padding-bottom: 10px;	
		padding-top: 10px;	
	}
	.block {
		padding: 30px;	
		&.image {
			width: 100%;
			max-width: none;				
		}
	}
	p.caption {
		font-size: .9em;	
		padding-left: 0;	
	}
	.block.quote {
		width: 100%;	
		max-width: 500px;	
		float: none !important;	
		margin-left: auto;	
		margin-right: auto;	
		clear: both;	
	}
	#slideshow .owl-carousel .owl-item img {
		max-height: 400px;	
	}
	#slideshow .owl-carousel .owl-stage-outer {
		height: 400px;	
		max-height: none;	
	}
	#slideshow {
		max-height: 460px;	
	}
	.intro {
		p {
			margin-bottom: 30px;	
		}
	}
	.full-information .inside {
		padding: 0;	
	}
	.intro .image.top-image {
/*
		width: auto;
		display: none;		
*/
		width: 100%;
	    left: auto;
	    display: block;
	    position: relative;
	    margin: 30px 0;	
		    float: left;
	}
	.text-image .right-image img {
	    max-height: none;
	    width: 100%;
	}
}

/********************************************************************************************* 

x. Smaller than 768px

*********************************************************************************************/
@media only screen and (max-width: 768px) {
	
	html, body {
		font-size: 16px;	
	}
	
	.width-10 {width: 100%;}
	.width-15 {width: 100%;}
	.width-20 {width: 100%;}
	.width-25 {width: 100%;}
	.width-30 {width: 100%;}
	.width-33 {width: 100%;}
	.width-35 {width: 100%;}
	.width-40 {width: 100%;}
	.width-45 {width: 100%;}
	.width-50 {width: 100%;}
	.width-55 {width: 100%;}
	.width-60 {width: 100%;}
	.width-65 {width: 100%;}
	.width-66 {width: 100%;}
	.width-70 {width: 100%;}
	.width-75 {width: 100%;}
	.width-80 {width: 100%;}
	.width-85 {width: 100%;}
	.width-90 {width: 100%;}
	.width-95 {width: 100%;}
	.width-100 {width: 100%;}
	.text-image .right-image {
		width: 100%;	
	}
	.text-image .left-text .inner {
		float: none !important;	
		margin-left: auto;	
		margin-right: auto;	
		margin-bottom: 50px;	
	}
	.block.text-image .left-text .inner {
		margin-bottom: 0;	
	}
	.block.text-image {
		padding-bottom: 0;	
	}
	.text-image {
		display: block;	
	}
	.inverse .left-image {
		width: 100%;	
	}
	.text-image .right-image img {
		max-height: none;	
		max-width: 560px;	
	}
	.mix {
		width: 50%;	
		padding: 15px;	
	}
	.stuck #stickit {
		top: 100px;	
	}
	.work .item {
		width: 100%;	
	}
	.left-image {
		width: 100%;	
		padding: 0;	
	}
	.home .left-image:nth-of-type(even) {
		width: 100%;
		padding: 0;		
	}
	section {
		overflow: hidden;	
	}
	.home .inverse .left-image:nth-of-type(even) {
		width: 100%;	
		padding: 0;	
	}
	.home {
		img {
			width: 100% !important;	
		}
		.item {
/*
			max-width: 320px;	
			max-height: 560px;	
*/
		}
	}
	.intro {
		padding: 0;	
	}
	a.title {
		svg {
			width: auto !important;	
			height: 80px !important;	
		}
	} 
	
	footer {
		.column {
			text-align: center;	
			margin-bottom: 20px;	
		}
		.social {
			text-align: center;	
		}
	}
	.news-title {
		width: 100%;
		margin-top: 0;		
	}
	.text-image .right-image {
		padding: 0;	
	}
	.post {
		padding-left: 0;	
		padding-right: 0;	
	}
	section#residential {
		padding-bottom: 0;	
	}
	.work .item {
		padding-left: 0;	
		padding-right: 0;	
	}
	.mix {
		width: 100%;	
	}
	.text {
		.container {
			padding: 0;	
		}
	}
	.text-image .left-text {
		padding-left: 0;	
		padding-right: 0;	
	}
	section.contact {
		padding-top: 0;	
	}
	.inverse .left-image {
		padding-top: 180px;	
	}
	#header-inner {
		padding: 40px;	
	}
	
	#nav {
		top: 10px;	
		right: 10px;	
		padding-right: 50px;	
	}
	#toggle {
		top: 45px;	
		right: 40px;	
	}
		
	#logo, #new-logo, .top-page #logo {
		width: 160px;	
		pointer-events: all;
		svg {
			@include transition(.35s, all);
			width: 100%;	
			width: 150px;	
			height: 45px;	
		}
	}
	body.top-page {
		#toggle {
			right: 40px;	
		}
		header {
			ul#nav {
				pointer-events: none;
			}
		
			ul#nav {
				li {
					right: 50px;	
					opacity: 0;	
					-webkit-animation: none; /* Chrome, Safari, Opera */
					    animation-name: none;
				}
				li {
				    
				    &:nth-child(1) {
						animation-delay: .1s;
						-webkit-animation-delay: .1s;
				    }
				    &:nth-child(2) {
						animation-delay: .15s;
						-webkit-animation-delay: .15s;
				    }
				    &:nth-child(3) {
						animation-delay: .2s;
						-webkit-animation-delay: .2s;
				    }
				    &:nth-child(4) {
						animation-delay: .25s;
						-webkit-animation-delay: .25s;
				    }
				    &:nth-child(5) {
						animation-delay: .3s;
						-webkit-animation-delay: .3s;
				    }
				    &:nth-child(6) {
						animation-delay: .35s;
						-webkit-animation-delay: .35s;
				    }
				    &:nth-child(7) {
						animation-delay: .4s;
						-webkit-animation-delay: .4s;
				    }
				    &:nth-child(8) {
						animation-delay: .45s;
						-webkit-animation-delay: .45s;
				    }
				    
				}
				
			}
		}				
		#toggle {			
			span {
				&.top {
					-webkit-transform: none;
					-moz-transform: none;
					-ms-transform: none;
					-o-transform: none;
					transform: none;
				}
				
				&.bottom {
					-webkit-transform: none;
					-moz-transform: none;
					-ms-transform: none;
					-o-transform: none;
					transform: none;
				}
			
			}
		}
		
		&.open {
			header {
				#toggle {
					right: 10px;	
				}
				ul#nav {
					display: block;	
					opacity: 1;	
					pointer-events: all;
				}
			
				ul#nav {
					li {
						right: 50px;	
						opacity: 0;	
						-webkit-animation: listfade .5s forwards; /* Chrome, Safari, Opera */
						    animation-name: listfade .5s forwards;
					}
					li {
					    
					    &:nth-child(1) {
							animation-delay: .1s;
							-webkit-animation-delay: .1s;
					    }
					    &:nth-child(2) {
							animation-delay: .15s;
							-webkit-animation-delay: .15s;
					    }
					    &:nth-child(3) {
							animation-delay: .2s;
							-webkit-animation-delay: .2s;
					    }
					    &:nth-child(4) {
							animation-delay: .25s;
							-webkit-animation-delay: .25s;
					    }
					    &:nth-child(5) {
							animation-delay: .3s;
							-webkit-animation-delay: .3s;
					    }
					    &:nth-child(6) {
							animation-delay: .35s;
							-webkit-animation-delay: .35s;
					    }
					    &:nth-child(7) {
							animation-delay: .4s;
							-webkit-animation-delay: .4s;
					    }
					    &:nth-child(8) {
							animation-delay: .45s;
							-webkit-animation-delay: .45s;
					    }
					    
					}
					
				}
			}				
			#toggle {
		/*
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
		*/
				
				span {
				
					&.top {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform-origin: 4px 6px;
						-moz-transform-origin: 4px 6px;
						-ms-transform-origin: 4px 6px;
						-o-transform-origin: 4px 6px;
						transform-origin: 4px 6px;
						background: $gray;
					}
					
					&.bottom {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
						-webkit-transform-origin: 6px -2px;
						-moz-transform-origin: 6px -2px;
						-ms-transform-origin: 6px -2px;
						-o-transform-origin: 6px -2px;
						transform-origin: 6px -2px;
						background: $gray;
					}
				
				}
			}
		}
		
	}
	
	body.top-page {
		#toggle {
			opacity: 1;	
		}
	}
	#slideshow {
		margin-top: 0;	
	}
	section#project {
		padding-top: 50px;	
	}
	.post h3 {
		padding-top: 10px;	
	}
	.post p {
		margin-bottom: 10px;	
	}
	.title {
		-webkit-animation: scroll 15s infinite; /* Chrome, Safari, Opera */
		animation-name: scroll 15s infinite;

	}
	.close {
		right: 10px;	
	}
	.alerted {
		.alert {
			padding: 10px 30px;	
		}
	}
	.alert {
		font-size: 15px;	
	}
	.container {
		padding-left: 30px;	
		padding-right: 30px;	
	}
	#header-inner {
		padding-left: 30px;	
		padding-right: 30px;	
	}
	body.top-page #toggle {
// 		right: 30px;	
	}
	.block {
		padding-left: 0;	
		padding-right: 0;	
	}
	#page-links a {
		margin: 0;	
	}
	footer ul.social li {
		margin-left: 10px;	
		margin-right: 10px;	
	}
	.single-work {
		#nav {
			background-color: transparent;	
		}
		&.open {
			#nav {
				background: #fff;	
			}
		}
	}
	.work .item.left-image:nth-of-type(even) p {
		padding: 0;	
	}
}