/********************************************************************************************* 

x. Variables

*********************************************************************************************/
$gray: #6d6e70;
$orange: #F68B1F;
$blue: #47b9c7;

/********************************************************************************************* 

x. Fonts

*********************************************************************************************/

@font-face {
    font-family: 'hk_groteskbold';
    src: url('webfonts/HKGrotesk-Bold.eot');
    src: url('webfonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
         url('webfonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('webfonts/HKGrotesk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('webfonts/hkgrotesk-bolditalic.eot');
    src: url('webfonts/hkgrotesk-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-bolditalic.woff2') format('woff2'),
         url('webfonts/hkgrotesk-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskitalic';
    src: url('webfonts/hkgrotesk-italic.eot');
    src: url('webfonts/hkgrotesk-italic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-italic.woff2') format('woff2'),
         url('webfonts/hkgrotesk-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesklight';
    src: url('webfonts/hkgrotesk-light.eot');
    src: url('webfonts/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-light.woff2') format('woff2'),
         url('webfonts/hkgrotesk-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesklight_italic';
    src: url('webfonts/hkgrotesk-lightitalic.eot');
    src: url('webfonts/hkgrotesk-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-lightitalic.woff2') format('woff2'),
         url('webfonts/hkgrotesk-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskmedium';
    src: url('webfonts/HKGrotesk-Medium.eot');
    src: url('webfonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
         url('webfonts/HKGrotesk-Medium.woff2') format('woff2'),
         url('webfonts/HKGrotesk-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskmedium_italic';
    src: url('webfonts/hkgrotesk-mediumitalic.eot');
    src: url('webfonts/hkgrotesk-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-mediumitalic.woff2') format('woff2'),
         url('webfonts/hkgrotesk-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskregular';
    src: url('webfonts/HKGrotesk-Regular.eot');
    src: url('webfonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
         url('webfonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('webfonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('webfonts/hkgrotesk-semibold.eot');
    src: url('webfonts/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-semibold.woff2') format('woff2'),
         url('webfonts/hkgrotesk-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesksemibold_italic';
    src: url('webfonts/hkgrotesk-semibolditalic.eot');
    src: url('webfonts/hkgrotesk-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/hkgrotesk-semibolditalic.woff2') format('woff2'),
         url('webfonts/hkgrotesk-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/********************************************************************************************* 

x. Mixins

*********************************************************************************************/
@mixin transition($property, $time) {
  	-webkit-transition: $property $time ease;
	-moz-transition: $property $time ease;
	-ms-transition: $property $time ease;
	-o-transition: $property $time ease;
	transition: $property $time ease;
}

/********************************************************************************************* 

x. CSS Reset 

*********************************************************************************************/
* {
	margin: 0;
	padding: 0;
	min-height: 0;
	outline: none;
}

/********************************************************************************************* 

x. Typekit

*********************************************************************************************/
.wf-loading {        
  	visibility: hidden;
}  

.wf-active {        
	visibility: visible;
}

/*********************************************************************************************

x. Basic Setup (Body, Fonts, etc.) 

********************************************************************************************/
::selection {
	background: $blue;
	color: #fff;	
}
::-moz-selection {
	background: $blue;
	color: #fff;	
}

html, body {
	font: 28px 'hk_groteskregular', Arial, Helvetica, sans-serif;
	color: $gray;
	width: auto; height: auto;
	background: transparent;
	height: auto !important;	
}

a {
	color: $orange;
	text-decoration: none;	
}

a:hover {
  	color: $blue;
}

a.link {
	background: linear-gradient(to bottom, $orange 0%, $orange 100%);
	background-position: 0 96%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'hk_groteskbold';	
	padding: 25px;	
	position: relative;	
	min-width: 220px;
	&:hover {
		color: $orange;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
		background-position: 0 100%;
		background-size: 45px 12px;
		background-repeat: repeat-x;
		text-decoration: none;
	}
	&:after {
		content:'';
		height: 0;	
		width: 0;	
		border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	    border-left: 10px solid $orange;
	    position: absolute;	
	    top: 100%;	
	    left: 100%;	
	    margin-left: 0;		
	    margin-top: -15px;	
	}
}

.inline-block {
	display: inline-block !important;	
}

.inline {
	display: inline !important;	
}

a img {
	border: none;
}

div, a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.clear {
	clear: both;
	overflow: auto;
	zoom: 1;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font-size: 2.4em;	
}

h2 {
	
}

h3 {
	font-size: 1em;	
	font-family: 'hk_groteskbold';
}

.image img {
	width: 100%; height: auto;
}

.no-margin {
	margin: 0;
}

p {
	line-height: 1.6em;
}

.uppercase {
	text-transform: uppercase;
}

#wrapper { }

.text-center {
	text-align: center;	
}

.text-left {
	text-align: left;	
}

.text-right {
	text-align: right;	
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;	
}

.clearfix {
	width: 100%;	
	display: block;	
	clear: both;
	float: left;
}

.bg-blue {
	background: $blue;
}
/********************************************************************************************* 

x. Columns & Widths

*********************************************************************************************/

.container {
	width: 100%;	
	margin-left: auto;	
	margin-right: auto;	
	max-width: 1600px;	
	&.small-container {
		max-width: 880px;	
	}
}

.post-img {
	margin-bottom: 50px;	
}

.column { }

.column.left {
	float: left;
}

.column.right {
	float: right;
}

.column.first .inside {
	padding-left: 0;
}

.column.last .inside {
	padding-right: 0;
}

.width-10 {width: 10%;}
.width-15 {width: 15%;}
.width-20 {width: 20%;}
.width-25 {width: 25%;}
.width-30 {width: 30%;}
.width-33 {width: 33.33%;}
.width-35 {width: 35%;}
.width-40 {width: 40%;}
.width-45 {width: 45%;}
.width-50 {width: 50%;}
.width-55 {width: 55%;}
.width-60 {width: 60%;}
.width-65 {width: 65%;}
.width-66 {width: 66.66%;}
.width-70 {width: 70%;}
.width-75 {width: 75%;}
.width-80 {width: 80%;}
.width-85 {width: 85%;}
.width-90 {width: 80%;}
.width-95 {width: 95%;}
.width-100 {width: 100%;}

/********************************************************************************************* 

x. WordPress Core

*********************************************************************************************/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/********************************************************************************************* 

x. Header

*********************************************************************************************/

header {	
	padding-bottom: 0;	
	position: fixed;	
	width: 100%;	
	left: 0;	
	top: 0;	
	z-index: 999;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	pointer-events: none
}

#header-inner {
	padding: 100px;
	position: relative;
}

.alert {
	font-size: 18px;	
	text-align: center;	
	background: rgba($blue, .8);
	pointer-events: all;
	position: relative;	
	mix-blend-mode: multiply;
	top: -300px;	
	height: 0px;
	padding: 30px;	
	padding-top: 0;	
	padding-bottom: 0;		
	overflow: hidden;	
	@include transition(.35s, all);

	p {
		color: #fff;	
	}
	a {
		color: #fff;
		&:hover {
			color: $orange;
		}
	} 
}

.alerted {
	.alert {
		top: 0;	
		height: auto;	
			padding: 30px;	

	}
}

.close {
	width: 25px;	
	height: 25px;	
	position: absolute;	
	right: 30px;	
	top: 50%;	
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -12px;	
	&:before {
		content: '';
		width: 3px;	
		height: 24px;	
		position: absolute;	
		left: 50%;	
		background: #fff;	
	}
	&:after {
		content: '';
		width: 24px;	
		height: 3px;	
		position: absolute;	
		left: 0;	
		top: 50%;	
		background: #fff;	
		    margin-top: -2px;
    margin-left: 2px;	
	}
}

#header-spacer {
	height: 260px;	
	position: relative;	
	width: 100%;	
	@include transition(.35s, all);
}

.home {
	#header-spacer {
		height: 260px;	
	}
}

.home.alerted {
	#header-spacer {
		height: 300px;	
	}
}

#nav {
	list-style-type: none;
	position: absolute;
	right: 70px;	
	top: 70px;	
	text-align: right;	
	opacity: 0;
	pointer-events: none;
	@include transition(.35s, all);
	z-index: 999;	
	padding: 30px;	
// 	padding-top: 42px;	
	li {
		display: block;	
		position: relative;	
		&.current_page_item {
			a {
				color: $orange;
			}
		}
		a {
			font-size: 16px;	
			line-height: 2em;	
			color: $gray;
			text-decoration: none;	
			font-family: 'hk_groteskbold';
			&:hover {
				color: $orange;
			}
		}
		&.sub-item {
			display: none;	
			a {
				font-family: 'hk_groteskregular';
				text-decoration: underline;	
			}
		}
	}
}

.single-work {
	#nav {
		background: #fff;	
		li.sub-item {
			display: block;	
		}
	}
}

.single-work, .page-template-work {
	#nav {
		li.work-menu {
			a {
				color: $orange;
			}
		}
	}
}

#logo, #new-logo {
	width: 220px;	
	pointer-events: all;
	display: block;	
	margin-left: -20px;	
	margin-top: -20px;	
	svg {
		@include transition(.35s, all);
		width: 100%;	
		width: 150px;	
		height: 45px;	
	}
}

#new-logo {
	height: 84px;	
}

#toggle {
	width: 25px;	
	position: absolute;	
	right: 100px;	
	top: 105px;	
	opacity: 1;		
	pointer-events: all;
	z-index: 999;	
	@include transition(.35s, all);
	span {
		display: block;	
		width: 100%;	
		height: 3px;	
		background: $gray;
		margin: 10px 0;	
		@include transition(.55s, all);
	}
	&:hover {
		.top {
			background: $orange !important;
		}
		.bottom {
			background: $blue !important;
		}
	}
}

body.open, body.top-page {
	#toggle {
		right: 50px;	
	}
	header {
		ul#nav {
			display: block;	
			opacity: 1;	
			pointer-events: all;
		}
	
		ul#nav {
			li {
				right: 50px;	
				opacity: 0;	
				-webkit-animation: listfade .5s forwards; /* Chrome, Safari, Opera */
				    animation-name: listfade .5s forwards;
			}
			li {
			    
			    &:nth-child(1) {
					animation-delay: .1s;
					-webkit-animation-delay: .1s;
			    }
			    &:nth-child(2) {
					animation-delay: .15s;
					-webkit-animation-delay: .15s;
			    }
			    &:nth-child(3) {
					animation-delay: .2s;
					-webkit-animation-delay: .2s;
			    }
			    &:nth-child(4) {
					animation-delay: .25s;
					-webkit-animation-delay: .25s;
			    }
			    &:nth-child(5) {
					animation-delay: .3s;
					-webkit-animation-delay: .3s;
			    }
			    &:nth-child(6) {
					animation-delay: .35s;
					-webkit-animation-delay: .35s;
			    }
			    &:nth-child(7) {
					animation-delay: .4s;
					-webkit-animation-delay: .4s;
			    }
			    &:nth-child(8) {
					animation-delay: .45s;
					-webkit-animation-delay: .45s;
			    }
			    
			}
			
		}
	}				
	#toggle {
/*
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
*/
		
		span {
		
			&.top {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 4px 6px;
				-moz-transform-origin: 4px 6px;
				-ms-transform-origin: 4px 6px;
				-o-transform-origin: 4px 6px;
				transform-origin: 4px 6px;
				background: $gray;
			}
			
			&.bottom {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform-origin: 6px -2px;
				-moz-transform-origin: 6px -2px;
				-ms-transform-origin: 6px -2px;
				-o-transform-origin: 6px -2px;
				transform-origin: 6px -2px;
				background: $gray;
			}
		
		}
	}
}
@keyframes listfade { 
	100% { opacity: 1; right: 0px;}
}

@-webkit-keyframes listfade { 
	100% { opacity: 1;  right: 0px;}
}

body.top-page {
	#toggle {
		opacity: 0;	
	}
}

/********************************************************************************************* 

x. Sections

*********************************************************************************************/

section {
	padding: 50px 0;	
}

section#blog-post {
	padding: 30px 0;	
}

/********************************************************************************************* 

x. Home

*********************************************************************************************/

.intro {
	width: 100%;
	padding: 50px;		
	max-width: 1200px;	
	margin-left: auto;	
	margin-right: auto;	
	position: relative;	
	p {
		margin-bottom: 20px;	
	}
	.image {
		position: absolute;	
		left: 50%;		
		bottom: 0;	
		z-index: -1;	
	}
}

.top-image {
	width: 500px;
	left: 50%;	
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#retail-title {
	svg {
		width: 1240px;	
		height: 175px;	
	}
}

#office, #retail {
	overflow: hidden;	
}

.title-fill {
	fill: $gray;
}

.title-stroke {
	fill: none;
	stroke: $gray;
	stroke-width: 3px;
}

section {
	padding-top: 100px;	
	width: 100%;	
	float: left;
	img {
		width: 100%;	
	}
}

section {
	.content.text {
		img {
			width: 100%;	
			height: auto;	
		}
		iframe {
			min-height: 400px;	
			width: 100%;
		}
	}
}

.home {
	section {
		overflow: hidden;	
	}
}

.title {
	margin: 50px 0;	
	float: right;	
	position: relative;	
	z-index: 999;	
	margin-left: 50%;	
	left: -100%;	
	&:hover {
		.title-stroke {
			stroke: $orange;
			// fill: $gray;
		}
	}	
	-webkit-animation: scroll 30s infinite; /* Chrome, Safari, Opera */
	animation-name: scroll 30s infinite;
	animation-timing-function: linear;

}

@keyframes scroll { 

	100% {
		left: 50%;	
	}
}


#restaurant-title {
	left: -1150px;	
	svg {
		width: 1150px;	
		height: 170px;	
	}
}

#residential-title {
	svg {
		width: 1150px;	
		height: 170px;	
	}
}

#office-title {
	svg {
		width: 630px;	 
		height: 170px;	
	}
}

.left-image {
	float: left;
	width: 700px;	
	width: 40%;	
	padding: 0 0 5% 100px;	
}
.right-image {
	float: right;	
	width: 900px;	
	width: 54%;	
	padding: 5% 0 5% 5%;	
}

.home {
	.left-image {
		&:nth-of-type(even) {
			float: right;	
			width: 900px;	
			width: 54%;	
			padding: 5% 0 5% 5%;	
		}
	}
	.inverse {
		.left-image {
			&:nth-of-type(even) {
				float: right;	
				width: 900px;	
				width: 44%;		
				padding: 0 5% 5% 5%;	
			}
		}
	}
}

.title.animate {
/*
	-moz-transform: translateX(99%);
	-webkit-transform: translateX(99%);
	-o-transform: translateX(99%);
	-ms-transform: translateX(99%);
	transform: translateX(99%);
*/
	@include transition(1s, all);
	opacity: 0;	
	&.in-view {
/*
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);	
*/
		opacity: 1;	
	}
}

.inverse {
	position: relative;	
	
	.title.animate {
/*
		-moz-transform: translateX(-99%);
		-webkit-transform: translateX(-99%);
		-o-transform: translateX(-99%);
		-ms-transform: translateX(-99%);
		transform: translateX(-99%);
*/
		&.in-view {
/*
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);	
*/
		}
	}
	
	.title {
		position: absolute;	
		top: 0;	
// 		left: 0;	
	}
	.left-image {
		float: left;
		width: 700px;	
		width: 50%;	
		padding: 240px 0 5% 0;
	}
	.right-image {
		float: right;	
		width: 900px;	
		width: 44%;		
		padding: 0 5% 5% 5%;
	}
	.title {
		float: left;
	}
}

.text-image {
	display: flex;
	align-items: center;
	.left-text {
		padding: 5%;	
		.inner {
			max-width: 560px;
		}	
		a.link {
			display: inline-block;	
		}
	}
	.right-image {
		float: left;	
		width: 50%;	
		padding: 0px 5%;
		img {
			max-height: 90vh;
			width: auto;	
		}
		&.map {
			img {
				width: 100%;	
				max-height: none;	
			}
		}
	}
	.left-image {
		padding-top: 5%;	
	}
}
.no-top {
	padding-top: 0 !important;	
}


.filler {
	display: block;	
	width: 100%;
	float: left;
}


.block.text-image {
	padding: 50px 0;	
	img {
		width: 100%;	
		height: auto;	
	}
}

.text {
	h1 {
		margin-bottom: .35em;	
	}
	p {
		margin-bottom: 1.2em;
		font-size: .8em;		
	}
}

#team {
	h1 {
		margin-bottom: 0.35em;	
	}
}

img.animate {
	@include transition(2s, all);
	opacity: 0;	
	&.in-view {
		opacity: 1;	
	}
}

.two-col {
	
}

.post {
	padding: 50px 100px;	
	margin: 25px 0;	
	a {
		display: block;	
	}
	.post-thumb {
		position: relative;
		margin-bottom: 20px;
		display: block;		
		img {
			max-width: 100%;	
			width: auto !important;	
		}	
	}
	.tag {
		position: absolute;	
		left: 50%;	
		bottom: -25px;	
		margin-left: -25px;	
		mix-blend-mode: multiply;
		width: 50px;
		display: none;		
		img {
			width: 100%;	
		}
	}
	h3 {
		padding: 50px 30px 0 30px;
		a {
			color: $gray;
			&:hover {
				color: $orange;
			}
		}
	}
	&.no-image {
		h3 {
			padding: 0;	
		}
	}
	&.award {
		.tag {
			display: block;	
		}
		p {
// 			display: none;	
		}
		&.no-image {
			.post-thumb {
				margin-bottom: 50px;	
			}
		}
	}
	h3 {
		width: 100%;	
		max-width: 420px;
		display: inline-block;	
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;			
	}
	p {
		margin-bottom: 30px;	
	}
}

p.date {
	font-size: .7em;
	font-family: 'hk_groteskbold';
	margin: 1.2em 0 .8em 0;	
}

h1.lone-title {
	margin-top: 0;	
	margin-bottom: 60px;	
	position: relative;	
	top: -20px;	
}

/********************************************************************************************* 

x. footer

*********************************************************************************************/

footer {
	font-size: 17px;	
	font-family: 'hk_groteskbold';
	padding: 60px 0;	
	width: 100%;		
	float: left;
	a {
		color: $gray;
		display: block;	
		line-height: 1.6em;	
		&:hover {
			color: $orange;
		}
	}
	ul.social {
		list-style-type: none;	
		margin-top: 5px;	
		li {
			display: inline-block;	
			width: 20px;	
			text-align: center;	
			margin-right: 20px;	
			svg {
				height: 20px;	
				display: inline-block;		
			}
		}
	}
	svg {
		&:hover {
			path {
				fill: $orange !important; 			
			}
		}
	}
	.column {
		padding: 0 10px;		
	}
}

/********************************************************************************************* 

x. Work

*********************************************************************************************/

#stickit {
	text-align: center;	
}

ul#filters, ul#page-nav {
	list-style-type: none;	
	text-align: center;	
	z-index: 998;	
	background: #fff;
	padding-left: 10px;	
	padding-right: 10px;	
	display: inline-block;		
	li {
		display: inline-block;	
		padding-left: 10px;	
		padding-right: 10px;
		a {
			display: block;	
			padding: 20px 10px;	
			font-size: 1.2em;	
			color: $gray;
			font-family: 'hk_groteskmedium';
			@include transition(.35s, font-size);
			&:hover {
				color: $orange;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
				background-position: 0 100%;
				background-size: 30px 8px;
				background-repeat: repeat-x;
				text-decoration: none;
			}
		}	
		&.active {
			a {
				color: $orange;
				background: linear-gradient(to bottom, $orange 0%, $orange 100%);
				background-position: 0 100%;
				background-repeat: repeat-x;
				background-size: 3px 3px;
				text-decoration: none;
				pointer-events: none;
			}
		}
	}
}

.news-title {
	width: 50%;	
	float: right;	
	text-align: center;	
	margin-top: 50px;	
}

/*
.stuck {
	#stickit {
		z-index: 998;	
		position: fixed;	
		left: 0;	
		width: 100%;
		top: 91px;	
	}
	ul#filters li a, ul#page-nav li a {
		font-size: 1em;	
		&:hover {
			background-position: 0 55px;
		}
	}
	ul#filters li, ul#page-nav li {
		&.active {
			a {
				background-position: 0 60px;
			}
		}
	}
}
*/

.grid {
	width: 100%;	
}

.work {
	.item {
		padding: 70px;		
		width: 50%;	
		float: left;
		display: block;	
		img {
			// max-height: 800px;	
			
		}
		p {
			@include transition(.35s, all);
		}
		.work-thumb {
			margin-bottom: 30px;
			position: relative;	
			display: block;	
			@include transition(.35s, all);
			.inner {
				display: block;	
				position: relative;	
				overflow: hidden;	
			}
			img {
				@include transition(.35s, all);
			}
			&:after {
				opacity: 0;	
				@include transition(.35s, all);
			}
		}
		&.right-image {
			text-align: right;	
			p {
				padding-right: 100px;	
			}
			&.pull-left {
				text-align: left !important;
				padding-left: 0;	
				p {
					padding-left: 100px;	
					padding-right: 0;			
				}
			}
		}
		&.left-image {
			padding-top: 0;	
			padding-bottom: 120px;	
			&.pull-right {
				padding-left: 100px;	
			}
			&:nth-of-type(even) {
				text-align: right;	
//  				padding-top: 70px;	
				p {
					padding-right: 100px;	
				}
				&.pull-left {
					text-align: left !important;
					padding-left: 0;	
					p {
						padding-left: 100px;	
						padding-right: 0;			
					}
				}
			}
			&:nth-of-type(2) {
				padding-top: 70px;	
			}
		}
		
		&:nth-of-type(odd) {
			.work-thumb:after {
				content:'';
				position: absolute;	
				top: 0;	
				left: -100px;	
				mix-blend-mode: multiply;
				background-image: url(../img/orange-corner.png);
			}
		}
		&:nth-of-type(even) {
			.work-thumb:after {
				content:'';
				position: absolute;	
				top: 0;	
				right: -100px;	
				mix-blend-mode: multiply;
				background-image: url(../img/blue-corner.png);
			}
		}
		&:hover {
			.work-thumb:after {
				opacity: 1;	
			}
			img {
				-moz-transform: scale(1.05);
				-webkit-transform: scale(1.05);
				-o-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
			}
			p {
				color: $orange;
			}
		}
	}	
}

.item {
	.work-thumb {
		margin-bottom: 30px;
		position: relative;	
		display: block;	
		@include transition(.35s, all);
		.inner {
			display: block;	
			position: relative;	
			overflow: hidden;	
		}
		img {
			@include transition(.35s, all);
		}
		&:after {
			opacity: 0;	
			width: 300px;	
			height: 300px;	
			-webkit-background-size: 300px 300px;
			background-size: 300px 300px;

			@include transition(.35s, all);
		}
	}
	&:nth-child(odd) {
		.work-thumb:after {
			content:'';
			position: absolute;	
			top: 0;	
			left: -100px;	
			mix-blend-mode: multiply;
			background-image: url(../img/orange-corner.png);
		}
	}
	&:nth-child(even) {
		.work-thumb:after {
			content:'';
			position: absolute;	
			top: 0;	
			right: -100px;	
			mix-blend-mode: multiply;
			background-image: url(../img/blue-corner.png);
		}
	}
	.centered {
		max-width: 300px;	
		width: 100%;	
		opacity: 0;	
		z-index: 8;	
		@include transition(.35s, all);
		p {
			color: #fff;	
		}
	}
	.work-thumb:hover {
		&:after {
			opacity: 1;	
		}
		img {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-o-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
		}
		.centered {
			opacity: 1;	
		}
	}
}

.centered {
	position: absolute;	
	top: 50%;	
	left: 50%;	
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/********************************************************************************************* 

x. Single Work

*********************************************************************************************/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	width: 33.3333%;	
	text-align: center;	
	padding-top: 40px !important;	
	span {
		display: inline-block;
		text-indent: -99999px;		
		height: 20px;	
		width: 100px;	
		position: relative;	
		background: linear-gradient(to bottom, $orange 0%, $orange 100%);
		background-position: 0 12px;
		background-repeat: repeat-x;
		background-size: 4px 4px;
	
	}
	&:hover {
		span {
			background-color: transparent;
			color: $orange;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
			background-position: 0 100%;
			background-size: 45px 12px;
			background-repeat: repeat-x;
			text-decoration: none;
		}
	}
}
.owl-carousel .owl-nav button.owl-prev {
	span {
		&:after {
			content:'';
			height: 0;	
			width: 0;	
			border-top: 10px solid transparent;
		    border-bottom: 10px solid transparent;
		    border-right: 10px solid $orange;
		    position: absolute;	
		    top: 100%;	
		    right: 100%;	
		    margin-top: -16px;	
		}
	}
}
.owl-carousel .owl-nav button.owl-next {
	float: right;	
	span {
		&:after {
			content:'';
			height: 0;	
			width: 0;	
			border-top: 10px solid transparent;
		    border-bottom: 10px solid transparent;
		    border-left: 10px solid $orange;
		    position: absolute;	
		    top: 100%;	
		    left: 100%;	
		    margin-top: -16px;	
		}
	}
}

#slideshow {
	max-height: calc(100vh - 280px);
    height: 910px;
    opacity: 0;
	@include transition(all, .35s);
	&.loaded {
		opacity: 1;	
	}
// 		margin-top: 50px;	
	.owl-carousel .owl-item img {
		height: 850px;	
		max-height: calc(100vh - 340px);	
		width: auto;	
	}
	.owl-carousel .owl-stage-outer {
		height: 850px;
		max-height: calc(100vh - 340px);	
	}
}

/********************************************************************************************* 

x. Content

*********************************************************************************************/

h1#page-title {
	margin-bottom: 100px;	
	display: block;	
	
}

.content {
	h4 {
		font-size: .7em;	
		font-family: 'hk_groteskbold';
		margin-bottom: 5px;	
	}
	p {
		margin-bottom: 1.2em;	
		line-height: 1.5;	
	}
}

#info {
	.width-40.no-image {
		float: none !important;	
		width: 100%;	
		max-width: 990px;		
		margin-left: auto;	
		margin-right: auto;	
		.content {
			padding: 0;	
			max-width: none;	
			width: 100%;	
		}
	}
	.content {
		padding: 0 100px;
		width: 100%;		
		max-width: 620px;	
		a {
			color: $orange;
			&:hover {
				color: $blue;
			}
		}
	}
}

.main-img {
	margin-bottom: 50px;	
}

.blocks {
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-flow: row wrap;
}

.grid-sizer {
	width: 50%;
}

p.caption {
	font-size: .8em;	
	margin-top: 30px;	
	padding: 0 50px;	
}

.block {
	padding: 100px;	
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	.text {
		padding-left: 100px;	
		padding-right: 100px;	
		&.inner {
			padding: 0;	
		}
	}
	&.full {
		width: 100% !important;	
		max-width: none !important;	
	}
	&:nth-of-type(even) {
	}
	&:nth-of-type(odd) {
		float: right;
	}
	&.image {
		max-width: 50%;	
		overflow: hidden;	
		img {
			width: auto;	
			max-width: 100%;	
		}
		&.full {
			img {
				float: none;	
				margin-left: auto;	
				margin-right: auto;	
				display: block;	
			}
		}
	}
	&.quote {
		width: 50%;	
		font-family: 'hk_groteskbold';
		text-align: center;	
		.quote-inner {
			max-width: 450px;	
			float: none;	
			margin: 0 auto;	
		}
		.quotes {
			padding: 50px;	
			text-align: center;	
			svg {
				width: 112px;	
				height: 81px;	
				display: inline-block;	
			}
		}
		span {
			font-family: 'hk_groteskregular';
			font-size: .7em;	
			display: block;	
			margin-top: 20px;	
		}
	}
	&.video {
		
		a.vid {
			position: relative;	
			display: block;	
			max-width: 1000px;
			margin: 0 auto;	
			float: none;		
			img {
				position: relative;	
				z-index: 8;	
			}
		}
	}
}

.play {
	padding: 40px;	
	position: absolute;		
	bottom: 0;	
	left: 0;	
	z-index: 9;	
	svg {
		width: 60px;	
		height: 60px;	
		position: absolute;	
		bottom: 40px;	
		left: 40px;
	}
}

.corner {
	position: absolute;	
	bottom: 0;	
	left: 0;
	mix-blend-mode: multiply;
	background-image: url(../img/blue-corner-bottom.png);
	width: 300px;	
	height: 300px;
		z-index: 9;	
}

.outs {
	@include transition(all, .35s);
	opacity: 1;	
	&.gone {
		opacity: 0;	
	}
}

/********************************************************************************************* 

x. Team

*********************************************************************************************/

.mix-container {
	margin-top: 20px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	clear: both;	
	width: 100%;	
	padding-left: 60px;	
	padding-right: 60px;	
	display: flex;
	flex-wrap: wrap;
}

.mix {
	width: 33.3333%;
	float: left;	
	padding: 40px;	
	cursor: pointer;
	display: flex;
	img {
		display: block;	
	}
	.mix-inside {
		overflow: hidden;	
		position: relative;	
		@include transition(all, .35s);
		text-align: center;	
	}
	.mix-img {
		position: relative;	
		z-index: 8;	
		img.illo {
			width: 100%;	
			@include transition(all, .35s);
			z-index: 2;	
			position: relative;	
		}
		.hover {
			position: absolute;	
			top: 0;	
			left: 0;	
			z-index: 1;	
		}
	}
	.mix-text {
		padding: 30px;	
		position: relative;	
		bottom: 0;	
		left: 0;	
		width: 100%;	
		@include transition(all, .1s);
		z-index: 9;	
		top: -2px;	
		p {
			font-size: 18px;	
			margin-top: 15px;	
		}
		h4 {
			font-family: 'hk_groteskbold';
		}
		p.job {
		}
		p.view {
			font-family: 'hk_groteskbold';
			color: $orange;
		}
	}

	a.link {
		position: absolute;	
		left: 0;	
		top: 0;	
		right: 0;	
		bottom: 0;	
		z-index: 99;	
		display: block !important;	
	}
	&:hover {
		.mix-inside {
		}
		img.illo {
			opacity: 0;	
		}
	}
	&.active {
		img.illo {
			opacity: 0;	
		}
		.mix-text {
		}
	}
}

.person-title {
	margin-bottom: 20px;	
	h2 {
		font-size: 1.7em;	
		font-weight: 500;	
	}
	h4 {
	}
	.divider {
		display: inline-block;	
		margin-left: 20px;	
		margin-right: 20px;	
		width: 2px;	
		height: 30px;
		position: relative;	
		top: 5px;		
	}
	p.job {
		display: inline;
		font-weight: 500;		
	}
	p.view {
		color: $orange;
		font-family: 'hk_groteskbold';
	}
}

.full-information {
	display: none;	
	p {
		font-weight: 500;	
	}
	.inside {
		padding: 50px;	
		max-width: 1100px;
		margin-left: auto;	
		margin-right: auto;	
		float: none;		
		text-align: left;	
		p.job {
		}
	}
}

section#band {
	padding: 100px 0;	
	&.bg-blue {
		color: #fff;	
		h1, p, a {
			color: #fff
		}
		h1 {
			margin-bottom: .35em;	
		}
		p {
			margin-bottom: 1.2em;	
		}
		
		a.link {
			background: linear-gradient(to bottom, #fff 0%, #fff 100%);
			background-position: 0 96%;
			background-repeat: repeat-x;
			background-size: 4px 4px;
			&:hover {
				color: #fff;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
				background-position: 0 100%;
				background-size: 45px 12px;
				background-repeat: repeat-x;
			}
			&:after {
				content:'';
				height: 0;	
				width: 0;	
				border-top: 10px solid transparent;
			    border-bottom: 10px solid transparent;
			    border-left: 10px solid #fff;
			    position: absolute;	
			    top: 100%;	
			    left: 100%;	
			    margin-top: -15px;	
			    margin-left: 0;	
			}
		}
		
	}
}

.img-outer {
	display: block;	
	position: relative;	
	.corner {
		z-index: 8;	
	}
}

section#project {
	padding-top: 80px;	
}

/********************************************************************************************* 

x. Awards

*********************************************************************************************/

#awards {
	padding-top: 160px;	
	p {
		font-size: .8em;
		margin-bottom: 20px;	
	}
}

#press {
	padding-top: 160px;	
	p {
		font-size: .8em;
		margin-bottom: 20px;	
	}

}

section.contact {
	padding-top: 50px;	
	padding-bottom: 100px;	
	p {
		a {
			color: $gray;
			&:hover {
				color: $orange;
			}
		}
	}
}

p.credit {
	opacity: 0;	
	position: absolute;	
	bottom: 0;	
	right: 0;	
	font-size: 15px;	
	@include transition(.35s, all);
	padding: 10px;	
	color: #fff;	
}

.img-container {
	position: relative;	
	&:hover {
		p.credit {
			opacity: 1;	
		}
	}
}

#page-links {
	width: 100%;	
	clear: both;	
	float: left;
	text-align: center;	
	.prev-link {
		display: inline-block;	
	}
	.next-link {
		display: inline-block;	
	}
	a {
		margin: 0 100px;	
		background: linear-gradient(to bottom, $orange 0%, $orange 100%);
		background-position: 0 96%;
		background-repeat: repeat-x;
		background-size: 4px 4px;
		text-decoration: none;
		font-size: 18px;
		font-family: 'hk_groteskbold';	
		padding: 25px;	
		position: relative;	
		min-width: 220px;
		display: block;	
		&:hover {
			color: $orange;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
			background-position: 0 100%;
			background-size: 45px 12px;
			background-repeat: repeat-x;
			text-decoration: none;
		}
		&:after {
			content:'';
			height: 0;	
			width: 0;	
			border-top: 10px solid transparent;
		    border-bottom: 10px solid transparent;
		    border-right: 10px solid $orange;
		    border-left: none;	
		    position: absolute;	
		    top: 100%;	
		    right: 100%;	
		    margin-left: 0;		
		    margin-top: -15px;	
		}
	}
	.prev-link {
		a {
			&:after {
				border-top: 10px solid transparent;
			    border-bottom: 10px solid transparent;
			    border-left: 10px solid $orange;
			    border-right: none;
			    position: absolute;	
			    top: 100%;	
			    left: 100%;
			    right: auto;		
			    margin-top: -15px;	
			}
		}
	}
}

.letters, g[mask="url(#__lottie_element_23)"], g[mask="url(#__lottie_element_16)"] {
	@include transition(.35s, all);
	opacity: 0;	
	fill:#6D6E71;
}

.video-container { 
	position: absolute;
    /* padding-bottom: 56.25%; */
    /* padding-top: 30px; */
    /* height: 0; */
    /* overflow: hidden; */
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 7;	
}

.gotit {
	.video-container {
		z-index: 10;	
	}
}

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.top-page {
	#logo {
		svg {
		}
	}
	.letters, g[mask="url(#__lottie_element_23)"], g[mask="url(#__lottie_element_16)"] {
		opacity: 1;	
	}
}

.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big $orange knob  */
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
	content:'';
    background: $orange url(../img/arrows.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;	
    color:white;
    font-weight:bold;
    text-align:center;
 
    border-radius: 50%;
    transition:all 0.3s ease;
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

/********************************************************************************************* 

x. Import

*********************************************************************************************/

@import 'animate';
@import 'style-responsive';
@import 'lity';
