body {
	font: 18px 'hk_groteskregular', Arial, Helvetica, sans-serif;
	color: #6d6e70;
}

h1, h2, h3 {
	font-family: 'hk_groteskregular';
}

h4 {
	font-size: .7em;	
	margin-bottom: 5px;	
}

p {
	margin-bottom: 1.2em;	
	line-height: 1.5;	
	margin-top: 0;	
}